.list_carousel {
	margin: 0 0 0px 0px;
	width: 1250px;
	overflow: hidden;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	color: #666;
	text-align: center;
	border: 0px solid #fff;
	width: 384px;
	height: 193px;
	padding: 0;
	margin-right: 49px;
	display: block;
	float: left;
    overflow: hidden;
    border-radius: 0px;
}
.list_carousel li img{
    max-width: 160px;
	max-height: 85px;
}
.clearfix {
	float: none;
	clear: both;
}
#prev1, #prev2 {
	margin-left: 10px;display: none;
}
#next1, #next2 {
	float: right;
	margin-right: 10px;display: none;
}
#prev1{
    left: 0;
    position: absolute;
    top: 72px;
    display: none !important;
}
#next1{
    right: 0;
    position: absolute;
    top: 72px;
    display: none !important;
}

/**fix calrol 2**/
.b-fix-carol{}
.b-fix-carol .list_carousel {
	margin: 0 0 0px 10px;
	width: 1000px;
}
.b-fix-carol .list_carousel li {
	color: #666;
	text-align: center;
	border-right: 0px solid #77195b;
	width: 291px;
	height: 185px;
	padding: 0;
	margin: 8px;
	display: block;
	float: left;
    overflow: hidden;
}
.b-fix-carol #prev1_1{
    left: -5px;
    position: absolute;
    top: 72px;
    z-index: 99999;
}
.b-fix-carol #next1_1{
    right: -5px;
    position: absolute;
    top: 72px;
    z-index: 99999;
}
.b-fix-carol .list_carousel li img{
    width: 291px !important;
	height: 185px !important;
	max-width: 291px;
	max-height: 185px;
}

/**fix calrol 3**/
.b-fix-carol-2{}
.b-fix-carol-2 .list_carousel {
	margin: 0 0 0px 10px;
	width: 1000px;
}
.b-fix-carol-2 .list_carousel li {
	color: #666;
	text-align: left;
	border: 1px solid #77195b;
	width: 290px;
	height: 185px;
	padding: 0;
	margin: 8px;
	display: block;
	float: left;
    overflow: hidden;
}
.b-fix-carol-2 #prev1_2{
    left: -5px;
    position: absolute;
    top: 72px;
    z-index: 99999;
}
.b-fix-carol-2 #next1_2{
    right: -5px;
    position: absolute;
    top: 72px;
    z-index: 99999;
}
.b-fix-carol-2 .list_carousel li img{
    width: 130px !important;
	height: 80px !important;
	max-width: 150px;
	max-height: 100px;
	float: left;
	margin-right: 10px;
}
.padding-carol{padding: 8px;}
.b-fix-carol-2 .list_carousel a{color: #77185b;}
.b-fix-carol-2 .list_carousel h3{margin-bottom: 5px;}